<!DOCTYPE html>
<html>
    <title>Weather App</title>
<head>
    <link rel="stylesheet" href="design.css">
</head>
    <body><center>
        {{>header}}
        <h1>{{title}}</h1>
        {{>footer}}
        </center>
    </body>

</html> 